*
!.gitignore
!.makepkg.conf
!.npmrc
!.gtkrc-2.0
!.local
!.local/bin/
!.local/bin/mknspawn
!.local/bin/screenshot-wl
!.local/bin/textshot-wl
!.local/bin/videoshot-wl
!.local/bin/git-repo
!.local/bin/ssh-keys
!.local/bin/publishpkg
!.local/bin/scanpdf
!.local/bin/bemenu-gopass
!.local/bin/bemenu-oath
!.local/bin/bemenu-system
!.local/bin/bemenu-wlr
!.local/bin/pinentry-bemenu
!.local/bin/tsh
!.local/bin/share
!.local/share/
!.local/share/udev/
!.local/share/udev/99-backlight.rules
!.local/share/scripts/
!.local/share/scripts/ssh_give_pass
!.local/share/scripts/library
!.local/share/scripts/i3-move-to-new-workspace
!.local/share/scripts/i3-new-workspace
!.local/share/scripts/bemenu
!.local/share/scripts/bemenu-run
!.config
!.config/i3/
!.config/whipper/
!.config/whipper/whipper.conf
!.config/mutt/
!.config/termite/
!.config/dunstrc
!.config/i3/config
!.config/mutt/colors
!.config/mutt/crypto
!.config/mutt/mailcap
!.config/mutt/muttrc.mailbox
!.config/mutt/muttrc.archlinux
!.config/mutt/muttrc.milliways
!.config/mutt/muttrc.posteo
!.config/mutt/muttrc.tu-clausthal
!.config/mutt/smime
!.config/termite/config
!.config/urlwatch/
!.config/urlwatch/urls.yaml
!.config/urlwatch/urlwatch.yaml
!.config/i3blocks
!.config/i3blocks/config
!.config/systemd/
!.config/systemd/user
!.config/systemd/user/ssh-agent.service
!.config/rofi/
!.config/rofi/config
!.config/mpd/
!.config/mpd/mpd.conf
!.config/user-tmpfiles.d/
!.config/user-tmpfiles.d/mpd.conf
!.config/nvim/
!.config/nvim/colors
!.config/nvim/colors/base16-seti.vim
!.config/kanshi/
!.config/kanshi/config
!.config/environment.d
!.config/environment.d/envvars.conf
!.gitconfig
!.global-gitignore
!.vimrc
!.zprofile
!.zshrc
!.zshrc.local
!.gnupg/
!.gnupg/gpg-agent.conf
!.gnupg/scdaemon.conf
!.gnupg/gpg.conf
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.ssh/
!.ssh/config
!.ssh/id_rsa.pub
!.xinitrc
!.config/chromium-flags.conf
!.config/vimium
!.config/vimium/vimium.css
!.tmux.conf
!.config/mako/
!.config/mako/config
!.config/alacritty
!.config/alacritty/alacritty.yml
!.config/sway
!.config/sway/config
!.config/swaylock
!.config/swaylock/config
!.config/containers
!.config/containers/policy.json
!.config/containers/registries.conf
