*
!.gitignore
!.local
!.local/bin/
!.local/bin/mknspawn
!.local/bin/rofi-systemdialog
!.local/bin/screenshot
!.local/bin/textshot
!.local/bin/videoshot
!.local/bin/dockhome
!.local/bin/dockwork
!.local/bin/git-repo
!.local/bin/saver_mpv
!.local/bin/undock

