*
!.gitignore
!.local
!.local/bin/
!.local/bin/mknspawn
!.local/bin/rofi-systemdialog
!.local/bin/screenshot
!.local/bin/textshot
!.local/bin/videoshot
!.local/bin/dockhome
!.local/bin/dockwork
!.local/bin/git-repo
!.local/bin/saver_mpv
!.local/bin/undock
!.config
!.config/i3/
!.config/mutt/
!.config/termite/
!.config/dunstrc
!.config/i3/config
!.config/mutt/colors
!.config/mutt/crypto
!.config/mutt/mailcap
!.config/mutt/mutt_alias
!.config/mutt/muttrc.mailbox
!.config/mutt/muttrc.milliways
!.config/mutt/muttrc.posteo
!.config/mutt/muttrc.tu-clausthal
!.config/mutt/smime
!.config/termite/config
!.config/urlwatch/
!.config/urlwatch/urls.yaml
!.config/urlwatch/urlwatch.yaml
!.gitconfig
!.vimrc
!.zprofile
!.zshrc
!.gnupg/
!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.ssh/
!.ssh/config
!.ssh/id_rsa.pub
